@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';




.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  padding: 36px 0;
  z-index: 50;

  &__burger{
    display: none;
    
  }
  &__burger.active{
    &::before{
      transform: rotate(45deg);
      top: 9px;
    }
  }

  &__burger.active {
    &::after {
      transform: rotate(-45deg);
      bottom: 9px;
    }
  }

  &__burger.active{
    span{
      transform: scale(0);
    }
  }
  
  &::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 2;
  }

  &__top-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;

  }
}

.logo{
  z-index: 3;
  position: relative;
}

.menu {
  display: flex;

  &__list {
    display: flex;
    max-width: 453px;
    position: relative;
    z-index: 3;
    &-link{
      @extend %gelion-400;
      font-size: 18px;
      color: #035755;
      position: relative;
      &:hover{
        color: #FB4C47;
        &::after{
          position: absolute;
          content: '';
          background-image: url('../images/menu-border-dot.png');
          background-repeat: no-repeat;
          background-position: center;
          height: 8px;
          width: 8px;
          top: 30px;
          left:0;
          right:0;
          margin:0 auto;
        }  
      }
    }

  }

  &__list-item + .menu__list-item {
    padding-left: 50px;
  }

  &__btn {
    padding-left: 40px;
    position: relative;
    z-index: 3;
    &-link {
      border: 2px solid #FB4C47;
      border-radius: 46px;
      padding: 20px 44px;
      @extend %gelion-500;
      font-size: 18px;
      color: #FB4C47;

    }
  }
}



.quarantine{
  background-image: url('../images/quarantine-bg.png');
  background-repeat: no-repeat;
  background-position: right ;
  height: 1160px;
  &__inner{
    padding-top: 400px;
  }
  &__subtitle{
    @extend %redhat-700;
    font-size: 32px;
    line-height: 122%;
    color: #FA5652;
    margin-bottom: 35px;
  }
   &__title{
     @extend %redhat-700;
     font-size: 52px;
     line-height: 139%;
     text-transform: capitalize;
     color: #035755;
     max-width: 625px;
     margin-bottom: 45px;
   }
   &__text{
     @extend %gelion-400;
     font-size: 24px;
     line-height: 190%;
     text-transform: capitalize;
     color: #4B4F51;
     max-width: 640px;
     margin-bottom: 90px;
   }
   &__link{
     padding: 24px 57px 28px 66px;
     background: #FB4C47;
     box-shadow: 0px 8px 87px rgba(0, 0, 0, 0.1);
     border-radius: 65px;
     font-size: 24px;
     line-height: 29px;
     text-transform: capitalize;
     color: #FFFFFF;
     @extend %gelion-700;
   }

}


.coronavirus{
   background-image: url('../images/coronavirus-bg.png');
   background-repeat: no-repeat;
   background-position: left;
   height: 650px;
   margin-bottom: 100px;
   position: relative;
   &::after{
     position: absolute;
     content: '';
     background-image: url('../images/coronavs.png');
     background-repeat: no-repeat;
     height: 135px;
     width: 135px;
     right: 20px;
     bottom: -200px;
   }
    &::before {
      position: absolute;
      content: '';
      background-image: url('../images/coronsvb.png');
      background-repeat: no-repeat;
      height: 300px;
      width: 150px;
      right: 0;
      bottom: -85px;
    }
   &__inner{
     max-width: 650px;
     float: right;
     margin-top: 100px;
    

   }
   &__subtitle {
     @extend %redhat-700;
     font-size: 29px;
     line-height: 124%;
     color: #FA5652;
     margin-bottom: 15px;
   }

   &__title {
     @extend %redhat-700;
     font-size: 52px;
     line-height: 139%;
     text-transform: capitalize;
     color: #035755;
     max-width: 625px;
     margin-bottom: 35px;
   }

   &__text {
     @extend %gelion-400;
     font-size: 20px;
     line-height: 215%;
     text-transform: capitalize;
     color: #4B4F51;
     max-width: 640px;
     margin-bottom: 50px;
   }

   &__link {
     padding: 21px 49px 23px 51px;
     background: rgba(250, 86, 82, 0.15);
     border-radius: 65px;
     font-size: 20px;
     line-height: 24px;
     text-transform: capitalize;
     color: #FA5652;
     @extend %gelion-600;
   }

}


.contagion{
  
   &__inner{
    text-align: center;
    margin-bottom: 106px;
   }
   &__subtitle {
     @extend %redhat-700;
     font-size: 29px;
     line-height: 124%;
     color: #FA5652;
     margin-bottom: 10px;
   }

   &__title {
     @extend %redhat-700;
     font-size: 48px;
     line-height: 139%;
     text-transform: capitalize;
     color: #035755;
     margin-bottom: 30px;
   }

   &__text {
     @extend %gelion-400;
     font-size: 20px;
     line-height: 215%;
     text-transform: capitalize;
     color: #4B4F51;
     max-width: 550px;
     margin: 0 auto;
     margin-bottom: 50px;
   }
   &__content{
     display: grid;
     grid-template-columns: repeat(3, 1fr);
     grid-gap: 30px;
     position: relative;
     &::before{
       position: absolute;
       content: '';
       background-image: url('../images/contagion-side.png');
       background-repeat: no-repeat;
       height: 260px;
       width: 140px;
       left: -140px;
       bottom: 0;
     }
   }
   &__box{
     display: flex;
     flex-direction: column;
     align-items: center;
     text-align: center;
     height: 575px;
     max-width: 460px;
     box-shadow: 0px 35px 87px rgba(0, 0, 0, 0.11);
     border-radius: 10px;
     &:hover{
       border-bottom: solid 6px #FB4C47;
       transition: all 0.2s;
     }
    &-img{
      margin-top: 65px;
      margin-bottom: 55px;
      height: 260px;
      max-width: 270px;
      width: 100%;
      
    }
    &-title{
      margin-bottom: 13px;
      font-size: 36px;
      line-height: 147%;
      @extend %gelion-500;
      color: #035755;
    }
    &-text{
      max-width: 355px;
      font-size: 18px;
      line-height: 185%;
      @extend %gelion-400;
      color: #4B4F51;

    }
   }
}



.symptoms{
  padding: 50px 0 120px 0;
  &__inner{
   text-align: center;
  }
  &__subtitle{
    @extend %redhat-700;
    font-size: 29px;
    line-height: 124%;
    color: #FA5652;
    margin-bottom: 20px;
  }
  &__title{
    @extend %redhat-700;
    font-size: 48px;
    line-height: 139%;
    text-transform: capitalize;
    color: #035755;
    margin-bottom: 30px;
  }
  &__text{
      @extend %gelion-400;
      font-size: 18px;
      line-height: 215%;
      text-transform: capitalize;
      color: #4B4F51;
      max-width: 716px;
      margin: 0 auto;
      
  }
  &__bg{
    position: relative;
    &::before {
      position: absolute;
      content: '';
      background-image: url('../images/symptoms-left.png');
      background-repeat: no-repeat;
      height: 130px;
      width: 170px;
      left: -120px;
      bottom: 190px;
    }
    &::after{
      position: absolute;
      content: '';
      background-image: url('../images/symptoms-right.png');
      background-repeat: no-repeat;
      height: 180px;
      width: 225px;
      right: -100px;
      bottom: 0;
    }
  }

  &__img{
    margin: 0 auto;
    
  }
}


















@import 'media';