@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';




.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  padding: 36px 0;
  z-index: 50;

  &__burger{
    display: none;
    
  }
  &__burger.active{
    &::before{
      transform: rotate(45deg);
      top: 9px;
    }
  }

  &__burger.active {
    &::after {
      transform: rotate(-45deg);
      bottom: 9px;
    }
  }

  &__burger.active{
    span{
      transform: scale(0);
    }
  }
  
  &::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 2;
  }

  &__top-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;

  }
}

.logo{
  z-index: 3;
  position: relative;
}

.menu {
  display: flex;

  &__list {
    display: flex;
    max-width: 453px;
    position: relative;
    z-index: 3;
    &-link{
      @extend %gelion-400;
      font-size: 18px;
      color: #035755;
      position: relative;
      &:hover{
        color: #FB4C47;
        &::after{
          position: absolute;
          content: '';
          background-image: url('../images/menu-border-dot.png');
          background-repeat: no-repeat;
          background-position: center;
          height: 8px;
          width: 8px;
          top: 30px;
          left:0;
          right:0;
          margin:0 auto;
        }  
      }
    }

  }

  &__list-item + .menu__list-item {
    padding-left: 50px;
  }

  &__btn {
    padding-left: 40px;
    position: relative;
    z-index: 3;
    &-link {
      border: 2px solid #FB4C47;
      border-radius: 46px;
      padding: 20px 44px;
      @extend %gelion-500;
      font-size: 18px;
      color: #FB4C47;

    }
  }
}



.quarantine{
  background-image: url('../images/quarantine-bg.png');
  background-repeat: no-repeat;
  background-position: right ;
  height: 1160px;

  &__inner{
    padding-top: 400px;
  }
  &__subtitle{
    @extend %redhat-700;
    font-size: 32px;
    line-height: 122%;
    color: #FA5652;
    margin-bottom: 35px;
  }
   &__title{
     @extend %redhat-700;
     font-size: 52px;
     line-height: 139%;
     text-transform: capitalize;
     color: #035755;
     max-width: 625px;
     margin-bottom: 45px;
   }
   &__text{
     @extend %gelion-400;
     font-size: 24px;
     line-height: 190%;
     text-transform: capitalize;
     color: #4B4F51;
     max-width: 640px;
     margin-bottom: 90px;
   }
   &__link{
     padding: 24px 57px 28px 66px;
     background: #FB4C47;
     box-shadow: 0px 8px 87px rgba(0, 0, 0, 0.1);
     border-radius: 65px;
     font-size: 24px;
     line-height: 29px;
     text-transform: capitalize;
     color: #FFFFFF;
     @extend %gelion-700;
   }

}


.coronavirus{
   background-image: url('../images/coronavirus-bg.png');
   background-repeat: no-repeat;
   background-position: left;
   height: 650px;
   margin-bottom: 100px;
   position: relative;
   &::after{
     position: absolute;
     content: '';
     background-image: url('../images/coronavs.png');
     background-repeat: no-repeat;
     height: 135px;
     width: 135px;
     right: 20px;
     bottom: -200px;
   }
    &::before {
      position: absolute;
      content: '';
      background-image: url('../images/coronsvb.png');
      background-repeat: no-repeat;
      height: 300px;
      width: 150px;
      right: 0;
      bottom: -85px;
    }
   &__inner{
     max-width: 650px;
     float: right;
     margin-top: 100px;
    

   }
   &__subtitle {
     @extend %redhat-700;
     font-size: 29px;
     line-height: 124%;
     color: #FA5652;
     margin-bottom: 15px;
   }

   &__title {
     @extend %redhat-700;
     font-size: 52px;
     line-height: 139%;
     text-transform: capitalize;
     color: #035755;
     max-width: 625px;
     margin-bottom: 35px;
   }

   &__text {
     @extend %gelion-400;
     font-size: 20px;
     line-height: 215%;
     text-transform: capitalize;
     color: #4B4F51;
     max-width: 640px;
     margin-bottom: 50px;
   }

   &__link {
     padding: 21px 49px 23px 51px;
     background: rgba(250, 86, 82, 0.15);
     border-radius: 65px;
     font-size: 20px;
     line-height: 24px;
     text-transform: capitalize;
     color: #FA5652;
     @extend %gelion-600;
   }

}


.contagion{
  
   &__inner{
    text-align: center;
    margin-bottom: 106px;
   }
   &__subtitle {
     @extend %redhat-700;
     font-size: 29px;
     line-height: 124%;
     color: #FA5652;
     margin-bottom: 10px;
   }

   &__title {
     @extend %redhat-700;
     font-size: 48px;
     line-height: 139%;
     text-transform: capitalize;
     color: #035755;
     margin-bottom: 30px;
   }

   &__text {
     @extend %gelion-400;
     font-size: 20px;
     line-height: 215%;
     text-transform: capitalize;
     color: #4B4F51;
     max-width: 550px;
     margin: 0 auto;
     margin-bottom: 50px;
   }
   &__content{
     display: grid;
     grid-template-columns: repeat(3, 1fr);
     grid-gap: 30px;
     position: relative;
     &::before{
       position: absolute;
       content: '';
       background-image: url('../images/contagion-side.png');
       background-repeat: no-repeat;
       height: 260px;
       width: 140px;
       left: -140px;
       bottom: 0;
     }
   }
   &__box{
     display: flex;
     flex-direction: column;
     align-items: center;
     text-align: center;
     height: 575px;
     max-width: 460px;
     box-shadow: 0px 35px 87px rgba(0, 0, 0, 0.11);
     border-radius: 10px;
     &:hover{
       border-bottom: solid 6px #FB4C47;
       transition: all 0.2s;
     }
    &-img{
      margin-top: 65px;
      margin-bottom: 55px;
      height: 260px;
      max-width: 270px;
      width: 100%;
      
    }
    &-title{
      margin-bottom: 13px;
      font-size: 36px;
      line-height: 147%;
      @extend %gelion-500;
      color: #035755;
    }
    &-text{
      max-width: 355px;
      font-size: 18px;
      line-height: 185%;
      @extend %gelion-400;
      color: #4B4F51;

    }
   }
}



.symptoms{
  padding: 50px 0 120px 0;
  &__inner{
   text-align: center;
  }
  &__subtitle{
    @extend %redhat-700;
    font-size: 29px;
    line-height: 124%;
    color: #FA5652;
    margin-bottom: 20px;
  }
  &__title{
    @extend %redhat-700;
    font-size: 50px;
    line-height: 139%;
    text-transform: capitalize;
    color: #035755;
    margin-bottom: 30px;
  }
  &__text{
      @extend %gelion-400;
      font-size: 18px;
      line-height: 215%;
      text-transform: capitalize;
      color: #4B4F51;
      max-width: 716px;
      margin: 0 auto;
      
  }
  &__bg{
    position: relative;
    &::before {
      position: absolute;
      content: '';
      background-image: url('../images/symptoms-left.png');
      background-repeat: no-repeat;
      height: 130px;
      width: 170px;
      left: -120px;
      bottom: 190px;
    }
    &::after{
      position: absolute;
      content: '';
      background-image: url('../images/symptoms-right.png');
      background-repeat: no-repeat;
      height: 180px;
      width: 225px;
      right: -100px;
      bottom: 0;
    }
  }

  &__img{
    margin: 0 auto;
    
  }
}


.prevention{
  text-align: center;
  &__subtitle {
    @extend %redhat-700;
    font-size: 29px;
    line-height: 124%;
    color: #FA5652;
    margin-bottom: 20px;
  }

  &__title {
    @extend %redhat-700;
    font-size: 50px;
    line-height: 139%;
    text-transform: capitalize;
    color: #035755;
    margin-bottom: 30px;
  }

  &__text {
    @extend %gelion-400;
    font-size: 18px;
    line-height: 215%;
    text-transform: capitalize;
    color: #4B4F51;
    max-width: 650px;
    margin: 0 auto;
    margin-bottom: 70px;

  }

  &__mask{
    display: flex;
    justify-content: space-between;
    text-align: left;
    max-width: 1240px;
    margin: 0 auto;
    position: relative;
    &::before{
      position: absolute;
      content: '';
      background-image: url('../images/mask-side.png');
      background-repeat: no-repeat;
      height: 290px;
      width: 150px;
      top: 350px;
      left: -332px;
    }
    &-top{
      margin-top: 165px;
    }
    &-title{
      @extend %gelion-500;
      font-size: 47px;
      line-height: 147%;
      text-transform: capitalize;
      color: #035755;
      margin-bottom: 20px;
      position: relative;
      &::before{
        position: absolute;
        content: '';
        background-image: url('../images/mask-number.png');
        background-repeat: no-repeat;
        height: 75px;
        width: 75px;
        top: -7px;
        left: -100px;
      }
    }
    &-text{
       @extend %gelion-400;
       font-size: 18px;
       line-height: 221%;
       text-transform: capitalize;
       color: #4B4F51;
       max-width: 556px;
    }
  }

  &__hands{
    display: flex;
    justify-content: space-between;
    text-align: left;
    max-width: 1325px;
   

    &-top {
      margin-top: 165px;
    }

    &-title {
      @extend %gelion-500;
      font-size: 47px;
      line-height: 147%;
      text-transform: capitalize;
      color: #035755;
      margin-bottom: 20px;
      position: relative;

      &::before {
        position: absolute;
        content: '';
        background-image: url('../images/hands-number.png');
        background-repeat: no-repeat;
        height: 75px;
        width: 75px;
        top: -7px;
        left: -100px;
      }
    }

    &-text {
      @extend %gelion-400;
      font-size: 18px;
      line-height: 221%;
      text-transform: capitalize;
      color: #4B4F51;
      max-width: 490px;
    }
  }

  &__nose{
    display: flex;
    justify-content: space-between;
    text-align: left;
    max-width: 1240px;
    margin: 0 auto;

    &-top {
      margin-top: 165px;
    }

    &-title {
      @extend %gelion-500;
      font-size: 47px;
      line-height: 147%;
      text-transform: capitalize;
      color: #035755;
      margin-bottom: 20px;
      position: relative;

      &::before {
        position: absolute;
        content: '';
        background-image: url('../images/nose-number.png');
        background-repeat: no-repeat;
        height: 75px;
        width: 75px;
        top: -7px;
        left: -100px;
      }
    }

    &-text {
      @extend %gelion-400;
      font-size: 18px;
      line-height: 221%;
      text-transform: capitalize;
      color: #4B4F51;
      max-width: 556px;
    }
  }


&__avoid{
  display: flex;
  justify-content: space-between;
  text-align: left;
  max-width: 1360px;
  position: relative;
  &::after{
    position: absolute;
    content: '';
    background-image: url('../images/avoid-side.png');
    background-repeat: no-repeat;
    height: 475px;
    width: 160px;
    top: 0;
    right: -312px;
  }

  &-top {
    margin-top: 165px;
  }

  &-title {
    @extend %gelion-500;
    font-size: 47px;
    line-height: 147%;
    text-transform: capitalize;
    color: #035755;
    margin-bottom: 20px;
    position: relative;

    &::before {
      position: absolute;
      content: '';
      background-image: url('../images/avoid-number.png');
      background-repeat: no-repeat;
      height: 75px;
      width: 75px;
      top: -7px;
      left: -100px;
    }
  }

  &-text {
    @extend %gelion-400;
    font-size: 18px;
    line-height: 221%;
    text-transform: capitalize;
    color: #4B4F51;
    max-width: 556px;
  }
}
}


.map{
  padding: 10px 0 150px 0;
  &__map{
    display: inline-block;
    background-image: url('../images/map.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 570px;
    max-width: 998px;
    width: 100%;
    margin-top: 52px;
    margin-left: -58px;
    position: relative;
   
    &::after{
      position: absolute;
      content: '';
      background-color: #fff;
      padding: 30px;
      background-image: url('../images/search.svg');
      background-repeat: no-repeat;
      background-position: center;
      height: 30px;
      width: 30px;
      top: -52px;
      right: 0;
      box-shadow: 0px 7px 76px rgba(146, 53, 46, 0.18);
      border-radius: 4.16667px;
      cursor: pointer;
    }
  }
  &__box{
     margin-top: -52px;
    background-color: #fff;
    padding: 22px 28px;
    height: 223px;
    width: 85px;
    box-shadow: 0px 5px 50px rgba(104, 33, 28, 0.1);
    border-radius: 5px;
    display: inline-block;
    margin-left: 58px;
   
  }
  &__plus{
    display: block;
    background-image: url('../images/plus.svg');
    background-repeat: no-repeat;
    height: 28px;
    width: 28px;
    margin-bottom: 45px;
    cursor: pointer;
    position: relative;
    &::after{
      position: absolute;
      content: '';
      background-image: url('../images/map-span-line.png');
      height: 2px;
      width: 10px;
      bottom: -23px;
      left: 9px;
    }
  }
  &__minus{
    background-image: url('../images/minus.svg');
    background-repeat: no-repeat;
    background-position: center;
    height: 10px;
    width: 28px;
    margin-bottom: 45px;
    cursor: pointer;
    position: relative;
    &::after {
      position: absolute;
      content: '';
      background-image: url('../images/map-span-line.png');
      height: 2px;
      width: 10px;
      bottom: -23px;
      left: 9px;
    }
  }
  &__up{
    cursor: pointer;
    background-image: url('../images/up.png');
    background-repeat: no-repeat;
    height: 24px;
    width: 20px;
    margin: 0 auto;
    margin-bottom: 4px;
   
    
  }
  &__down{
    cursor: pointer;
    background-image: url('../images/down.png');
    background-repeat: no-repeat;
    height: 24px;
    width: 20px;
    margin: 0 auto;
  }

  
  &__reports{
    display: inline-block;
    float: right;
    padding: 54px 55px 52px 55px;
    max-width: 504px;
    background: linear-gradient(360deg, #FFFBFB -79.45%, #FDFDFD 105.35%);
    box-shadow: 0px 7px 95px rgba(0, 0, 0, 0.07);
    border-radius: 0px;
    &-title{
      @extend %gelion-500;
      font-size: 48px;
      line-height: 58px;
      color: #035755;
      margin-bottom: 55px;
    }
    &-list{
      
    }

    &-usa, &-italy, &-china, &-spain, &-germany, &-iran{
      display: flex;
      justify-content: space-between;
      align-items: center;
      max-width: 394px;
      width: 100%;
      height: 37px;
      margin-bottom: 40px;
    }
    &-iran{
      margin-bottom: 0;
    }
    &-country{
      display: flex;
      align-items: center;
    }
    &-name{
      @extend %gelion-500;
      font-size: 31px;
      line-height: 37px;
      color: #13615F;
      margin-left: 27px;
    }
    &-stat{
      display: flex;
      align-items: center;
    }
    &-numbers{
       @extend %gelion-500;
      font-size: 24px;
      line-height: 29px;
      text-align: right;
      color: #035755;
      margin-right: 22px;

    }
  }

}


.questions{
  
  padding-bottom: 143px;
  &__title{
    text-align: center;
    margin: 0 auto;
    @extend %gelion-600;
    font-size: 64px;
    line-height: 77px;
    color: #0C6C44;
    max-width: 662px;
    margin-bottom: 62px;
  }
  &__field{
    display: flex;
    align-items: center;
    max-width: 790px;
    margin: 0 auto;
    
  }
  &__input{
    display: block;
    padding: 44px 225px 44px 41px;
    background: #FFFFFF;
    box-shadow: 0px 8px 80px rgba(0, 0, 0, 0.06);
    border-radius: 57px;
    max-width: 790px;
    width: 100%;
    @extend %gelion-400;
    font-size: 22px;
    color: #758681;
    border: none;
    outline: none;
  }
  &__btn{
    padding: 26px 80px;
    background: #F44A45;
    border-radius: 157px;
    @extend %gelion-500;
    font-size: 22px;
    color: #FFFFFF;
    border: none;
    outline: none;
    margin-left: -220px;
    height: 78px;
   
  }
}


.footer{
  padding-bottom: 25px;
  text-align: center;
  background: linear-gradient(360deg, rgba(255, 241, 241, 0.5) 0%, rgba(255, 241, 241, 0) 108.69%);
  &__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 70px;
  }
  
  &__list{
    display: flex;
    justify-content: space-between;
    max-width: 574px;
    &-item{
      &+.footer__list-item {
        padding-left: 60px;
      }
    }
    &-link{
      @extend %gelion-400;
      font-size: 23px;
      line-height: 28px;
      color: #00402E;
      
    }
  }
  &__social{
    display: flex;
    align-items: center;
    &-item{
      margin-left: 40px;
    }
  }
  &__copyright{
    @extend %gelion-400;
    font-size: 23px;
    line-height: 28px;
    color: #415E56;
  }
}















@import 'media';